.auth-page{
    min-height:100vh;
    background:linear-gradient(135deg,#050816,#0b1120,#111827);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
    position:relative;
}
.auth-card{
    width:100%;
    max-width:430px;
    background:#111827;
    border:1px solid rgba(255,255,255,.08);
    border-radius:22px;
    padding:40px;
    box-shadow:0 25px 60px rgba(0,0,0,.45);
    animation:fadeUp .6s ease;
}

.auth-card h1{
    color:white;
    font-size:34px;
    margin-bottom:10px;
    text-align:center;
}

.auth-card p{
    color:#94a3b8;
    text-align:center;
    margin-bottom:35px;
    line-height:1.7;
}

.auth-form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.auth-form input{
    background:#0f172a;
    border:1px solid rgba(255,255,255,.08);
    color:white;
    padding:16px;
    border-radius:14px;
    font-size:15px;
    outline:none;
    transition:.3s;
}

.auth-form input:focus{
    border-color:#3b82f6;
    box-shadow:0 0 0 3px rgba(59,130,246,.18);
}

.auth-btn{
    margin-top:10px;
    padding:16px;
    border:none;
    border-radius:14px;
    background:linear-gradient(135deg,#3b82f6,#2563eb);
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.auth-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 15px 30px rgba(37,99,235,.35);
}

.auth-footer{
    margin-top:25px;
    text-align:center;
    color:#94a3b8;
}

.auth-footer a{
    color:#60a5fa;
    text-decoration:none;
    font-weight:600;
}

.auth-footer a:hover{
    color:white;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@media(max-width:600px){

.auth-card{
    padding:28px;
}

.auth-card h1{
    font-size:28px;
}

}
.auth-form label{
    color:#e2e8f0;
    font-size:14px;
    font-weight:600;
    margin-bottom:-8px;
}
.back-home{
    position:absolute;
    top:35px;
    right:40px;

    text-decoration:none;
    color:#cbd5e1;

    font-size:15px;
    font-weight:600;

    padding:10px 18px;

    border:1px solid rgba(255,255,255,.12);
    border-radius:12px;

    background:rgba(255,255,255,.05);
    backdrop-filter:blur(10px);

    transition:.3s;
}

.back-home:hover{
    color:white;
    border-color:#3b82f6;
    background:rgba(59,130,246,.15);
    transform:translateY(-2px);
}